<!DOCTYPE html>
<html>
    <head>
        <Title>{% block title %} {% endblock %} </Title>
    </head>
    <body>
        <h1>Recipe Book</h1>
        {% block content %}
        {% endblock %}
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Logout</button>
        </form>
        {% else %}
            <a href="{{ 'accounts/login/' }}">Login</a></li>
        {% endif %}
    </body>
</html>